<%= form_for(@guest_transaction) do |f| %>
  <% if @guest_transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@guest_transaction.errors.count, "error") %> prohibited this guest_transaction from being saved:</h2>

      <ul>
      <% @guest_transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
